[2017-12-04 09:27] jonesor opened #1 "Define S4 class"
@tdjames1 and @iainmstott are handling this

[2017-12-04 09:33] jonesor opened #2 "Create checkSpecies function"
Create a function to check whether a particular species is present in the database, and if it is to return that subset of the database.

[2017-12-04 14:49] tdjames1 commented on #1
We've decided to create two classes: CompadreData which corresponds to the existing DB object, holding the metadata together with the corresponding list of matrices, and CompadreMatrix which will hold a set of matrices (A, U, F and C) together with matrix specific information (e.g. definition of matrix stages currently held in the compadre$matrixClass list).

Accessor functions will provide access

[2017-12-04 16:02] jonesor commented on #1
This sounds great.

[2017-12-05 08:43] jonesor opened #3 "Create cleanDB function"
Function to remove matrices that do not pass a series of (independent) tests.
e.g. ergodicity, primitivity, reducible, splitness etc.

[2017-12-05 08:45] jonesor opened #4 "Write split function"
Split - to split the database into two database objects, one matching a criteria, the other not.

[2017-12-05 08:46] jonesor opened #5 "Create function "merge" for compadre."
Merge 2 compadre databases together.

[2017-12-05 08:47] jonesor opened #6 "Create "meanF" function"
Function to produce mean fecundity matrices from individual matrices.

[2017-12-05 08:49] jonesor opened #7 "Function to obtain 1 matrix per species at random"
Maybe called "sampleMatrices"?

[2017-12-05 08:50] tdjames1 commented on #3
@patrickbarks: Could you change the name of the function to `cleanDB`? I suggest that we use capitalised names for classes only.

[2017-12-05 08:57] jonesor opened #8 "Vignette"
We need a vignette that guides users through a workflow of using the package.
This can draw on materials used for COMPADRE workshops that are in our compadreDB [repository](https://github.com/jonesor/compadreDB/tree/master/Workshop).

More than one vignette is OK.

[2017-12-05 09:06] tdjames1 commented on #3
I'm getting an error when I try to run `CleanDB(compadre_object)`:

    Error: 'isErgodic' is not an exported object from 'namespace:popdemo'

[2017-12-05 09:53] patrickbarks opened #9 "Standardize style of documentation"
When documenting functions, begin title with verb (e.g. "Calculate life table entropy" rather than "A function that calculates life table entropy").

For descriptions, can use longer form (e.g. "This function calculates...").

[2017-12-05 10:04] tdjames1 commented on #2
@DannyLBuss: the function doesn't work as documented i.e. using underscores

    myspp <- c("Cicindela_ohlone")
    checkspecies(myspp, comadre)

[2017-12-05 10:16] patrickbarks commented on #3
Changed name to cleanDatabase and added documentation. No more error from isErgodic.

[2017-12-05 10:16] #3 closed

[2017-12-05 12:27] #2 closed

[2017-12-05 14:09] patrickbarks opened #10 "Replace matFmu arguments"
Replace matFmu argument in rearrangeMatrix with more generic argument to identify reproductive stages, because identifying reproductive stages using the mean fecundity matrix is just one possible approach to identifying reproductive stages.

[2017-12-05 15:01] jonesor commented on #1
The class is now defined.

[2017-12-05 15:01] #1 closed

[2017-12-05 15:29] #10 closed

[2017-12-06 12:32] DannyLBuss opened #11 "Non-html version of Plot-life-cycle"
I will give this a go, otherwise I will attempt to improve usability of the current function.

[2017-12-08 12:49] patrickbarks commented on #6
@DannyLBuss I started editing this function, and perhaps got carried away. I hope it's a bit simpler now, but let me know what you think.

I changed the functionality to return a mean of mean matFs instead of a random matF, and I also changed it to return a meanMatF for every single row of the database that gets passed, rather than for only a subset of "Individual" matrices. I figure the user can

[2017-12-08 14:48] patrickbarks opened #12 "Handling NAs in identifyReproStages"
Add functionality to provide the user different options of dealing with values of NA within matF. Currently, the function assumes NA indicates positive fecundity.

[2017-12-08 15:45] patrickbarks commented on #12
Added argument na.handling, which can be set to "return.na", "return.true", or "return.false"

[2017-12-08 15:45] #12 closed

[2017-12-16 15:51] levisc8 opened #13 "Unit testing"
At some point in the not so distant future, we should begin to develop unit tests for as many of these functions as we can. I'm happy to lead the charge on this one, just need to know which functions are completed and which are still in progress.

[2018-01-05 15:21] levisc8 opened #14 "Create a sub-sample of COM(P)ADRE to distribute with the package?"
Would it be worthwhile to include a subsample of one or both databases as example data sets? I suspect it will make our lives easier in the long run.

For example, we could then use something like `data(compadre)` in the vignettes and examples rather than relying on file paths to the objects (which change on every machine).

If others agree with the general concept, I'm happy to work on identifyin

[2018-01-05 17:07] jonesor commented on #14
Yes - I've been meaning to do this for a while, but I haven't gotten around to it yet.
We'd need enough species that the examples in the vignettes make sense (e.g. where there is subsetting by certain variables etc.). I'm happy to change the vignettes though.
Go for it!

[2018-01-05 21:53] levisc8 commented on #14
I'll look through the current vignette and try to create subsets that don't require too much editing. Hopefully will have something up here by Monday!

[2018-01-05 22:57] levisc8 commented on #5
Hi @DannyLBuss, I had to write a function merge together multiple subsets of the COM(P)ADRE to create the data sets to be included in the package. It's probably not perfect, but I've included it in the _data-raw/createDataSets.R_ file. It might be a good starting place for creating this if you haven't already started.

[2018-01-08 17:42] levisc8 commented on #14
Sample data sets are now uploaded(5924510) and documented (f0f2b0f). I tried to include as many species from the vignette as possible, but ended up cutting out a few that may have made the data sets a bit too large.

The script to create them is in data-raw so you can review that if you'd like. I'll leave the issue open until you've had a chance to review the data sets.

[2018-01-10 17:11] wpetry opened #15 "update to S4 addressing"
Current functions use `$` to access elements of compadre database objects. With the new S4 class for these data, the following functions (and possibly others I've missed) will need updating with `@` to access S4 slots:
- [ ] appendMeanMatF.R
- [ ] checkspecies.R (`findSpecies` utility function)
- [ ] cleanDatabase.R
- [ ] convert2flat.R
- [ ] dbCompare.R
- [ ] subsetDB.R

Relates to #1 and #14

[2018-01-15 14:47] wpetry commented on #15
We'll need some way for objects of class `CompadreM` to hold the `matFmean` objects that have been calculated. @iainmstott or @tdjames1, do either of you have thoughts on the best way to extend the class to hold calculated matrices?

[2018-01-15 15:54] tdjames1 commented on #15
Hi @wpetry - I'm not sure what the best approach would be. In fact, I'm not sure it's even desirable to do this (the meanF matrix is a means to an end i.e. identifying reproductive stages and rearranging a matrix in preparation for collapsing to canonical form), but perhaps there was some relevant discussion during the parts of the workshop I missed. I suppose it might be good to be able to store

[2018-01-15 16:05] iainmstott commented on #15
Hi @wpetry. I think that would mean having an extra slot for the information, which is optionally empty (NULL), defined in the code in CompadreM.R. Because S4 is a strict(ish) definition of how something's structured, I don't think it really facilitates optional extra slots. I agree with @tdjames, I'm not sure it's a desirable thing to do with S4, and perhaps we shouldn't try to emulate the existi

[2018-01-15 16:22] tdjames commented on #15
@iainmstott Wrong @tdjames1 ;)

[2018-01-16 14:22] patrickbarks commented on #15
I updated `appendMeanMatF` to S4 addressing, and changed the fn to return a list rather than `CompadreData` object, as Iain suggested. I also changed the function name to `getMeanMatF`.

In theory, I would like to be able to append vectors (e.g. identifying reproductive stages) or matrices (e.g. of vital rate sensitivities) directly to a `CompadreData` object, though I don't know anything about th

[2018-01-16 22:49] wpetry commented on #15
@patrickbarks thanks for your work on `appendMeanMatF`. Heads up that we don't duplicate work on the other functions (e.g., dc27d37). I've been updating my progress on the checklist above since self-assigning this issue in my fork of the repo...just waiting for this conversation to play out before sending the pull request over here. I'm super grateful for any feedback + edits on this code either t

[2018-01-17 08:54] patrickbarks commented on #15
@wpetry Sorry, I didn't fully understand that you were working on a separate fork, but I see it now. I updated `appendMeanMatF` because that code was fresh in my mind, and then updated `subsetDB` because it's called by `appendMeanMatF`. But I've looked at your fork now and see that your version has some better features, like converting legacy versions of the db. So I'll leave you to it!

[2018-01-17 11:22] patrickbarks commented on #14
The sample datasets look great, and are super helpful for testing functions and writing examples. Just a few thoughts:

1. The Comadre set doesn't include any matrices from Africa or Asia, and has only one study from S America. I suggest targeting a few studies from each continent for the sake of geographic balance (though of course there are biases in the full db too).

2. In the `mergeDBs` funct

[2018-01-18 14:54] levisc8 opened #16 "Current COMPADRE release and development versions fail to meet CompadreData/CompadreM definition"
Currently, Compadre v4.0.1 and Compadre vX.X.X (unreleased version) fail to meet the CompadreData class definition. It seems that 24 of the A and/or U matrices have negative elements which are currently rejected during validation of `CompadreM` class objects. For example:

`load('COMPADRE_V.4.0.1.RData')`
`Compadre <- asCompadreData(compadre)`
`Error in validObject(.Object) :
  invalid class “Comp

[2018-01-20 13:37] iainmstott commented on #16
That is... frustrating. I didn't realise there would be such matrices in the data. I can sort of see why in exceptional cases like these it might be necessary to relax the rules of the class, though. What I would suggest doing instead is that we migrate this check to functions in  `Rage` which assume a nonnegative matrix so that whilst the data may be included in com(p)adre and pass the checks of

[2018-01-20 13:39] iainmstott commented on #16
I can take care of coding this in the `CompadreM` class file. I've assigned myself the task

[2018-01-22 20:13] wpetry commented on #15
No worries @patrickbarks! I'd definitely appreciate a second pair of eyes on my code once #16 is resolved so I can finish up `appendMeanMatF`.

[2018-02-06 19:24] jonesor commented on #15
Both Rob and I (maybe others?) are using the package for teaching and workshops. It is therefore really important that the functions work with the OLD s3 list object database versions until we release s4 versions of the data.

This could be implemented by adding a line of code to the functions that first checks the class of the object, and if it is the old version, converts it to S4. (I believe @i

[2018-02-06 21:55] levisc8 opened #17 "Add Travis/Appveyor to `master` branch?"
Since we need a stable `master` branch for workshops (and since the master branch is now stable after a807f7a!), does it make sense to add continuous integration to make sure all pushes/pull requests to `master` are checked properly? If you're interested, you can read more on what continuous integration does in jonesor/Rage#9 and [here](http://r-pkgs.had.co.nz/check.html#travis).

If so, @jonesor

[2018-02-07 18:01] iainmstott commented on #16
I've removed the need for matrices to be nonnegative... hopefully now the current databases will work as CompadreM objects @levisc8

We'll need to be careful about making sure to check for nonnegativity in other functions in Rcompadre, Rage and popdemo. For popdemo I've been thinking about writing a checking function that runs through common culprits which can then be run at the start of each func

[2018-02-07 18:01] #16 closed

[2018-02-07 18:12] iainmstott commented on #15
I can do this for each of the relevant functions, once we're sure the S4 class definitions are correct (see issue #16 ). It should be pretty simple.

We should probably all be working on the development branch and not touching the master, unless there are important bug fixes or similar that are easier to commit directly to master. Periodically, we can merge the development branch with the master (

[2018-02-07 18:29] levisc8 commented on #16
@iainmstott I've tested the new version and it seems to work. I definitely agree that we need to be mindful of implementing those checks in `Rage` and `popdemo` though.

[2018-02-08 05:04] wpetry commented on #15
@iainmstott I had self-assigned this and did most of these updates in my fork of the repo (pre-devel branch): https://github.com/wpetry/Rcompadre

I'm fully booked with fieldwork for the next month, so please feel free to move forward on this if you'd like. I've tossed in a pull request #18 that makes my progress easier to find and integrate when someone has a chance to resolve the merge conflict(

[2018-02-08 10:41] iainmstott commented on #15
OK @wpetry I'll take a look for sure. I can see from reading through this convo and what Patrick said that you've incorporated conversion of the old database into into some of the functions already

[2018-02-08 15:01] jonesor commented on #17
I have done this now. I've used just the default options, so please go ahead and make changes to the yml file if you think it is necessary.

[2018-02-08 15:13] levisc8 commented on #17
Cool, thanks for letting me know! I'll set it up to build on r-release and r-oldrelease later tonight.

It may be worthwhile to add Appveyor support to cover all of operating system X R version combos (it builds with 3 versions of R on Windows). Setting it up is basically the same as setting up travis, just run `devtools::use_appveyor()` instead and follow the directions.

[2018-02-08 15:44] jonesor commented on #17
AppVeyor sounds neat. I've added it.
Thanks for taking a look later!

[2018-02-08 18:40] #17 closed

[2018-02-19 16:19] patrickbarks opened #19 "subsetDB not subsetting slot matrixClass"
Function `subsetDB` does not currently subset slot `matrixClass`. This was my fault... I mistakenly removed the line:

`ssdb$matrixClass <- ssdb$matrixClass[subsetID]`

[2018-03-03 16:49] levisc8 opened #20 "Ternary plots throwing odd error when called from Knitr"
Related to content of d88789d7d75ad3519cdd9eb92c49436e22b86ba7 - The `ternaryplot()` function in the vignette returns the following when run from Knitr:

`Error in unit(x, default.units) : 'x' and 'units' must have length > 0` but not when called interactively. I haven't found a decent explanation for why this is online so I've set the chunks options to `eval = FALSE` until I can figure out what's

[2018-03-05 17:33] levisc8 commented on #20
Moved this to `Rage` to make package dependencies a bit less circular.

[2018-03-05 17:33] #20 closed

[2018-03-07 15:40] patrickbarks commented on #15
@iainmstott  I've tested out the S4 updates a bit, and so far it's working/looking great! Sorry to you and @wpetry for my misguided commit that created the merge conflicts. Hope it wasn't too much of a pain to sort through.

Two small issues I've encountered so far:

1\. `subsetDB` throws an error when `db` is not yet of class `CompadreData`.

[code]

In the section converting class 'list' to 'Com

[2018-03-07 16:30] iainmstott commented on #15
That's a good point. The earlier versions of compadre and comadre didn't have the 'version' info included. I think your suggestion of testing whether it's a list is probably the right one. I'd probably add in a `stop` if the list doesn't include `metadata`, `matrixClass` and `mat` (@jonesor and @robcito can you confirm that all versions of the databases include these list elements?)... that way we

[2018-04-05 09:17] #19 closed

[2018-04-05 09:19] levisc8 commented on #19
This is only an issue with the `master` branch. The `CompadreM` class contains the `matrixClass` variable now; I think there was some confusion when converting back to the old method so that a teaching version  of the package still existed.

Either way, it should work now.

[2018-08-08 13:54] iainmstott opened #21 "development package name"
Suggestion: for the popdemo development package branch I use the package name 'popdemoDev' instead: perhaps this would be an idea for Rcompadre and Rage too. It means you can have both packages installed on your machine at the same time: one which works and one which may be buggy.

Before merging the development branch into master you need to make sure you change it, though. And then change it bac

[2018-08-11 16:54] iainmstott opened #22 "indexing within subsetDB"
It would be good to have the ability in subsetDB to index using numbers or variable values that aren't Boolean, i.e. rather than `SpeciesAccepted == "Acinonyx_jubatus" | SpeciesAccepted == "Panthera_leo"`, to use `SpeciesAccepted = c("Panthera_leo", "Acinonyx_jubatus")`. Note these aren't in alphabetical order; it would be nice if the function returned them in the user's desired order.

Otherwise

[2018-08-11 16:59] iainmstott opened #23 "accessor functions for S4 classes"
We need accessor functions for the S4 classes. e.g. `matA(CompadreMObject)` gives a single A matrix, `matA(CompadreDataObject)` gives a list of matA, `SpeciesAccepted(CompadreDataObject)` gives the character vector of SpeciesAccepted, `metadata(CompadreDataObject)` gives the metadata, and so on.

I've forked the repo and have been working on this there (perhaps should have just created a new branc

[2018-08-19 20:09] tdjames1 commented on #22
I'm not sure about this.

1. It is already possible to specify a vector of variable values you want to match using `%in%`:
```subsetDB(mydb, SpeciesAccepted %in% c("Acinonyx_jubatus", "Panthera_leo"))```

2. Numeric indexing presupposes people know which rows they want and has the potential to get them into trouble if the data isn't organised the way they thought. Unless each entry has a unique nu

[2018-08-20 08:39] iainmstott commented on #22
Sorry, I wasn't clearer.

The first point is also about the order of the matrices (as number 2); just with species rather than rows.

If you're working with a small subset of the database, you might just want them in a certain order (doing this is what led me to create the issue; it's useful to have the matrices in e.g. phylogenetic order). Also with the new `[` method for the database, it would b

[2018-08-20 09:06] tdjames1 commented on #22
Thanks for clarifying. I hadn't really registered the overall point about ordering (possibly because I haven't wanted/needed this myself).

Agreed!

I'm definitely keen for that association to be built in.

[2018-08-21 14:09] patrickbarks opened #25 "Making Rcompadre pipe-friendly"
As noted briefly in PR #24, I'm interested in making Rcompadre work nicely with dplyr's pipe operator (`%>%`). The pipe operator passes an object on the left side to a function on the right side (e.g. `x %>% mean()` == `mean(x)`), and when used in series can make code more readable.

A particular piping sequence I often perform with compadre is to calculate some quantity for every row of the db, a

[2018-08-21 14:55] patrickbarks opened #26 "Adding derived vectors/matrices to a CompadreData object"
Related to #25, I think it would be useful if there was a way for a user to add new slots containing either vectors, matrices, or lists to a CompadreData object.

In many demographic analyses users will want to derive vectors or matrices from an MPM (e.g. population vector, stable distribution, sensitivity matrix, collapsed or rearranged matrix), and it would be ideal if these remained part of the

[2018-08-21 15:26] iainmstott commented on #26
I can jump in quite quickly on this one.

The short answer is: it's not possible and probably not desirable with S4.

The long answer is...

Some justification:
S4 addressing is designed for very defined data structures (which is why we chose it: the structure of the databases are very rigid). It's not possible to add slots unless we specify what class they're for, and there's no way of knowing wh

[2018-08-21 15:42] iainmstott commented on #25
I think this would require a new definition for `%>%`, which is an exported method from `dplyr`. You're passing it an object (class `CompadreData`) which it won't understand, so we'll need to import it from `dplyr` and add it to the methods for `CompadreData` objects. This would mean the package importing `dplyr` and all of its imports (a fair few).

However, I think `dplyr` imports the pipe from

[2018-08-21 16:17] tdjames1 commented on #25
I'm not sure that piping is the problem here, it's having a function that does what @patrickbarks wants to do (in the example, take the output from `subsetDB()` and modify its metadata, in order to then subset on the new column).

What this comes down to is that people may want to be able to subset based on some properties of the matrices (is_ergodic, has_NAs, lambda). Perhaps then it's a question

[2018-08-21 16:33] levisc8 commented on #25
As best I can tell, all you need to do to make it pipe friendly is make sure the first argument of the subsequent function is the `CompadreData` object. `%>%` doesn't really recognize classes, just passes the output of the left side to the first part of the right side.

I've only tried this with S3 for other projects, but I don't think it should be any different for S4.

[2018-08-21 16:35] iainmstott commented on #25
I don't think I'm grasping the issue properly!

But I think I get it now.

In Patrick's example, I guess it would work if:
[code]
I guess it's not working in the pipe sequence because the variables `check_NA_A` and `check_ergodic` aren't saved in the object yet (they normally would be after a call to `cleanDB()`.

[2018-08-21 16:47] iainmstott commented on #25
@levisc8 beat me to it.

But I guess it doesn't change the original problem? I can see now it may be useful to have some sort of function that adds to the metadata to make the objects more pipe-friendly so that (as @tdjames1) pointed out), @patrickbarks first code sequence would work with a `CompadreData` object, adding to the metadata

[2018-08-21 17:53] levisc8 opened #27 "Restructure the CompadreData class?"
This has kind of been bugging me recently when working on some internal code. Basically, I think the current data structure is a bit more complicated than it needs to be from a programming and usability perspective. The points below outline some potentially beneficial alterations which would require re-writing the `CompadreData` class (but not the `CompadreM` class! :) ), but here's why I think it

[2018-08-21 17:54] levisc8 commented on #26
The `metadata` slot is an S3 data.frame so you can add whatever you want to that as long as we don't impose a dimension or column name check in the `CompadreData` class definition. The main drawback here is that you can only add to the `metadata` table, not actually create a new slot. But see #27 for some other (perhaps overly verbose) thoughts.

[2018-08-21 18:14] iainmstott commented on #27
The point that most of the rigid structure is in CompadreM is a very valid one! In terms of changing the structure, I think that if we agree the flexibility afforded by extra dependencies is worth it, and those dependencies won't cause headaches down the line, then I'm down. The proposed structure doesn't intuitively feel very different to the existing one, we're just moving a list to a different

[2018-08-22 06:39] patrickbarks commented on #26
I somehow didn't realize that an S3 data.frame could have list-columns. I thought that was extra tibble magic, but I see now that it works just fine with data.frame too. So that basically solves all my problems.

Regardless, I like the idea of merging `metadata` and `mat` into a `data` slot (#27), which makes adding additional list-columns for derived vectors/mats slightly more intuitive.

[2018-08-22 07:00] patrickbarks commented on #25
This thread helped me clarify what I'm after. I guess I was really only interested in creating a mutate-like function that takes a CompadreData db, and adds a column to `db@metadata` based on some transformation of the original `db@metadata` and/or `db@mat`. It's the latter part that I think would be tricky to code (i.e. allowing the user to specify how the new column is derived, and specifically,

[2018-08-22 09:29] tdjames1 commented on #27
I like the combined `data` slot idea, if it can be done subject to the concerns in the thread mentioned above by @patrickbarks. Thanks for working on this, @levisc8!

[2018-08-22 11:04] levisc8 commented on #27
Hi all,
I've pushed a prototype up [here](https://github.com/levisc8/Rcompadre/tree/devel).  It implements the list-column and provides the standard accessing functions for each `CompadreM` element. I didn't write them for the rest of the database because, well, you can just do `Compadre@data$ColumnYouWant`. I suppose we can add those if there's a desire for them.

The bottom of the readme contain

[2018-08-22 12:12] patrickbarks commented on #27
Awesome!

1. I do think there's an outstanding issue with having the list-column of S4 objects in the data.frame, and it seems related to that thread I referenced. There are lots of things that I could normally do with a data.frame that I can't currently do with Compadre@data, e.g.

[code]

2. Great. Changing `Compadre@data` to a tibble resolves all of the issues I described in point 1, though I d

[2018-08-22 12:44] levisc8 commented on #27
1. Ah yes, I see your point. Interestingly, if you assign all of those failed operations to a value (e.g. `x <- head(Compadre) %>% .[ ,1:47] %>% .`), you get exactly what you'd expect (a lot of data.frame printing).  All of those examples result in something getting printed (unless there's assignment), so I'm pretty sure it's just a bug in the implementation of `show` with respect to the list-colu

[2018-08-23 06:54] patrickbarks opened #28 "Move matrix-level functions to Rage?"
Four functions in Rcompadre act on individual matrices (i.e. their first argument is `matA`, or `matU`, etc.), and so I think would fit more naturally into Rage. These are:

`collapseMatrix`, `identifyReprodStages`, `rearrangeMatrix`, and `splitMatrix`.

Two of these (`collapseMatrix` and `rearrangeMatrix`) are used by `Rage::standardizedVitalRates`, so having them in the same package would be nic

[2018-08-23 08:40] patrickbarks commented on #27
Ah ya, I see that it's just a printing issue.

[code]

Looks like the problem is that `print.data.frame` calls `format.data.frame`, which formats column by column element by element. When it gets to the `matdata` column it tries to format the first element with `format.default` and fails. The way `format.data.frame` is written, it doesn't seem like adding a `format.CompadreM` method could solve th

[2018-08-23 09:11] tdjames1 commented on #27
This is also discussed in comments on the SO post that you referenced in [your comment above](https://github.com/jonesor/Rcompadre/issues/27#issuecomment-414939204) :)

[2018-08-23 11:33] levisc8 commented on #27
I suppose this is what I get for trying program with jetlag ;) Sorry about that!

Is anyone opposed to adding something like `CompadreDF` S3 class to the `data` slot and writing a `print.CompadreDF` method?  If it inherits from `data.frame` as well, I'm not sure we'd lose any functionality, but you'd still be able to print it.

I pushed a variant to my branch that implements this solution. So far,

[2018-08-23 20:26] levisc8 commented on #27
Fair points. However, if we keep the `CompadreData` class to house the `data` and `version` slots, then we'd still need to write methods for them. Alternatively, we could ditch the `version` slot until we have a better alternative and

1.  turn Compadre into a `tbl` with an S4 list-column and call it a day.

or

2. keep it as a `data.frame` with an S4 list-column, make an S3 class for to go with `

[2018-08-24 06:42] patrickbarks commented on #27
I favour option 1. Here's my pitch for ditching the `version` slot:

1. It doesn't improve reproducibility
2. The benefits of `db` being a single flat structure are huge

(1.) I'm assuming the purpose of version is primarily reproducibility (e.g. version number and date created)? It also includes a link to the user agreement and some db summary statistics.

Reproducibility currently comes from kno

[2018-08-24 12:20] patrickbarks opened #29 "Flatten the matrix slot?"
(With apologies for the length)

Rather than the nested structure of the current `mat` slot (or "column", à la #27), I propose having separate list-columns for `matA`, `matU`, `matF`, `matC`, `MatrixClassOrganized`, and `MatrixClassAuthor`. The reason is that most MPM functions (e.g. in `popdemo`, `popbio`) act on a matrix, so we should make it easier for users to access matrices, and particularly

[2018-08-24 12:33] tdjames1 commented on #25
Stepping back a bit, I wonder if there is any mileage in thinking about implementing a method that allows user to mutate `metadata` with reference to the CompadreM object, e.g.

[code]

The user-specified function would be applied to the `mat` slot and the (required to be data frame friendly) output appended to `metadata` as a new column. There could be optional args to indicate a particular Compa

[2018-08-26 17:15] patrickbarks commented on #27
I built on @levisc8's ideas above to test out a [fully-tidy version of Rcompadre](https://github.com/patrickbarks/Rcompadre/tree/devel) (i.e. completely flat `db` structure). It includes some big changes apart from just the tidy main structure (incl. #28 and #29), but these latter changes are just my personal preferences. The magic is in `db` being a single flat structure, in my opinion.

[2018-08-27 14:35] levisc8 commented on #27
Version as an attribute and removing the `CompadreData` class both work for me.

On the other hand, I'm not sure I agree w/ getting rid of the `CompadreM` class. See my comment in #29 for more on that.

[2018-08-27 14:38] jonesor commented on #27
I'm just trying to catch up with all of this! Great work everyone!
I fully agree that the minor cost of ditching the version slot is worth it for the benefits in useability that will bring. The current overly complicated structure of the compadre R object is always a pain for new users (and old users too!).
It made sense at the time, but I'd welcome a flat structure. For old code compatibility rea

[2018-08-27 14:56] jonesor commented on #21
Sounds like a good idea.
I have just merged your pull request #24 to the devel branch. I'll try to remember to change the package name before I merge the devel branch with the master.

[2018-08-27 14:59] #21 closed

[2018-08-27 15:02] jonesor commented on #28
OK - I think that makes sense. Do you agree @robcito? If so I will move them over.

[2018-08-27 15:11] jonesor commented on #14
I can confirm that the metadata columns in the newest version of COMPADRE/COMADRE are consistent.

NumberStudies is calculated as `length(unique(compadre$metadata$SpeciesAuthor))`. If you recall `SpeciesAuthor` is the species name, plus an integer suffix for subsequent papers that focus on that species. e.g. "Ovis_canadensis", then "Ovis_canadensis_2", then "Ovis_canadensis_3" and so on.

The unre

[2018-08-27 16:03] levisc8 commented on #29
I don't know, I think the benefits of keeping it outweigh the advantages of removal. responses in reverse order:

1. I think in general, user-flexibility is good. But I also think the class definition isn't overly restrictive and only keeps them from shooting themselves in the foot. If we can provide that functionality without burdening them (and I don't think the class is so complicated as to inh

[2018-08-28 06:11] patrickbarks opened #30 "Add check_singular_U flag to cleanDB"
Rage functions `longevity` (life expectancy component), `R0`, and `lifeTimeRepEvents` will fail if `matU` is singular (i.e. non-invertable). This usually indicates infinite life expectancy due to a 100% stasis loop in the final stage(s). Adding a flag will make it easier for users to remove rows with singular `matU` ahead of time, if desired.

[code]

[2018-08-28 06:15] patrickbarks commented on #4
I think this operation would be better left to `subset`, particularly with the tidy version of `db`, e.g.

[code]

A `split` function would require extra code just to access the two slots, e.g.

[code]

[2018-08-28 07:16] patrickbarks commented on #6
I propose dropping the `meanMatF` function in favour of a more general function that takes a list of matrices (of equal dimension) and returns the element-wise mean matrix (e.g. `averageMats`).

The problem I see with `meanMatF` is that there are many different grouping levels at which a user might want to calculate a mean matrix, depending on the analysis, e.g.

- `SpeciesAuthor` x `MatrixPopulat

[2018-08-28 08:32] patrickbarks commented on #29
Good points. I see that the accessor functions could be helpful if we retain the nested structure of `mat`.

My biggest qualm pertains to the matF+matC functions (jonesor/Rage#19). What I meant was that having a `CompadreM` method would make those functions harder to document and understand.

E.g. In the tidy version of `R0` there would be 3 arguments, all 'mandatory':
- `matU`
- `matR`
- `startLi

[2018-08-28 12:44] patrickbarks opened #31 "Add fetchDB function?"
I only recently learned that it's possible to download and load COM(P)ADRE directly from R (can't remember where I first saw this, but props to that person):

[code]
By loading `db` in a separate environment ([e.g.](https://github.com/patrickbarks/Rcompadre/blob/devel/R/db_fetch.R)), a `fetchDB` function could allow the user to assign `db` to an object of their chosen name, rather than getting an

[2018-08-28 18:11] levisc8 commented on #27
Just to clarify, do you mean translate between the current list structure or translate from the S4 class to the flattened db?

[2018-08-30 10:14] jonesor commented on #27
@levisc8 I meant to translate from current list structure. i.e. so we can apply newly-developed methods to the old databases.

[2018-09-10 14:01] iainmstott commented on #27
I can't say that I've read through all of these comments... or looked at the code.

I don't mind a flat structure in the data slot, but I think the matrices still need to stay as the CompadreM S4 objects, otherwise what's the point of this whole exercise? I like the idea that the matrices would be tied more closely to the metadata, however.

I do not like the idea of tying this too closely to dply

[2018-11-12 12:28] #22 closed

[2018-11-12 12:29] #23 closed

[2018-11-14 19:57] jonesor opened #33 ""show" method bug"
The show method should produce something like this:

[code]
but produces this:
[code]

The second part here should obviously be removed.

[2018-11-14 20:02] jonesor opened #34 "Bug in cleanDB (dev branch)"
Using `cleanDB` produces Errors.

[code]
I think this is caused by the way that `data(db)` and `data(db_sub)` work.
e.g. lines 59-63 are supposed to build a new object with a column called `index` but (I think) this doesn't happen.

[2018-11-14 20:34] jonesor opened #35 "Error in getMeanMatF (dev branch)"
Error is produced:

[code]

I think this is caused by a problem building the `newdata` object (line 55-64).

[2018-11-14 20:41] jonesor opened #36 "Error produced by mergeDBs() (dev branch)"
To reproduce the error:

[code]

The error message is:
[code]

[2018-11-15 07:16] patrickbarks commented on #29
I've mostly come around on this. I personally prefer working with a totally flat structure, but I see the benefits of having a single `mat` slot/column in the package, so closing this issue.

[2018-11-15 07:16] #29 closed

[2018-11-15 08:21] levisc8 commented on #27
Hi all,
sorry, I sort of fell off the face of the planet for a couple months (field work...). I think @iainmstott's work in #32 and @jonesor's followup have pretty much solidified a move to a single table w/ a list column. Unless anyone objects, I'd move to close this issue.

[2018-11-15 08:25] levisc8 opened #37 "rename "data" generic?"
I noted that #32 introduces a `data` generic to extract the metadata w/ list column from the `CompadreData` structure. However, `data()` is also a function from `utils` used to load packages' internal data sets (e.g. `data(mtcars)`).

I don't think it would cause any actual problems to have the method named as such, but it may be confusing for users interpreting code that employs it because it doe

[2018-11-15 10:36] iainmstott commented on #27
Can do, although there is still scope to revisit this (and leave it open) if opinions differ; the functions are almost indifferent now to what the underlying structure is (although methods would of course need to be changed). We forged ahead with these particular changes mainly to have a functioning version of the package for December BES workshop.

[2018-11-15 10:39] iainmstott commented on #37
I noticed this once I'd sent the pull request, and I agree... I think actually I favour getting rid of it altogether: originally I put it in to give access to the data slot, but as I mentioned in #32, it's not actually necessary that users access that entire data.frame rather than just either the matrices or the metadata

[2018-11-15 11:07] levisc8 commented on #27
Fair enough - there isn't really any down side to leaving it open too :)

[2018-11-15 14:37] iainmstott opened #38 "Rename classes"
Following discussions with Owen, we felt it may make sense to change the names of the classes. The database is called `CompadreData`, but all of our functions use the syntax "DB" (`subsetDB`, `cleanDB`, `compareDBs`, etc.). Similarly, we use "mat" to refer to matrices (`matA`, `matU`, etc.) but the matrix-focused class is `CompadreM`. The proposal is to change these: `CompadreDB` and `CompadreMat`

[2018-11-15 14:39] iainmstott commented on #38
This may also help with #37 as it frees up the compadreData name for use there and in the slot

This might happen quickly (workshop time constraints again), so please shout at me if you think it's stupid

[2018-11-15 15:09] levisc8 commented on #38
Seems reasonable to me

[2018-11-15 16:08] patrickbarks opened #39 "Make db@data printable"
Picking up from #32, I think `print(db@data)` throwing an error is an issue that should be solved, even if we don't want users to access the `data` slot that way. Presumably many users will use `db@data$` to create derived columns. I think some users will realize `db@data` is just a `data.frame`, and that's where all the important stuff is, and then be confused when normal data frame stuff fails (

[2018-11-15 16:16] patrickbarks opened #40 "Alternative to 47 accessor functions for the metadata columns"
I'm wondering if there's an alternative to having accessor functions for every single `metadata` column (the `mat`-related ones I like)? A few (fairly minor) downsides I see:

- they pollute the namespace and make `Rcompadre::` less useful for finding functions (I assume the `::` autcomplete is limited to RStudio)

- relatedly, they reduce the ease of using RStudio's column autocomplete options fo

[2018-11-16 14:34] jonesor commented on #40
That does sound simpler, and simple is good... - what do you think @iainmstott ?

[2018-11-16 14:35] jonesor commented on #38
@iainmstott Did you make these changes yet in your branch? I would like to implement them in the `jonesor/dev` branch. Do you want to implement that or shall I?

[2018-11-16 14:48] jonesor commented on #39
I think we should try the tibble approach. It seems to me to be the most straightforward, and preserves the relationship between the metadata and the matrices (which was the main advantage/reason behind putting them in the data frame in the first instance.
I guess I can just add `tibble` to the imports bit of the `DESCRIPTION`, and then set the data slot to class "tibble".

[2018-11-16 14:52] iainmstott commented on #38
Not yet! I got a certain way and then ran out of time. It's more involved than you might expect (lots of functions using methods associated with the previous "data" slot which needed to be addressed... And you can't just find and replace something as generic as "data" (my bad). I won't be able to push changes before Tuesday earliest... Sorry

[2018-11-16 15:09] iainmstott commented on #40
Definitely a good idea! I should have thought of that. It also fits naturally given there's already a [ method (although I still want to implement a [ <- method).

I'd favour every column of the data except "mat": as one needs matA() etc. to access the specific components of the CompadreM objects, using mat() seems like a natural fit.

[2018-11-19 09:06] patrickbarks commented on #39
I think it can all be done within the `initialize` method. The `data` slot can remain "data.frame" within `setClass` because tibbles always retain the "data.frame" class too.

[code]

[2018-11-19 09:13] patrickbarks commented on #40
Ya, I like the `mat`-related accessors. Here's the code I tested out. I'll leave it for Iain or Owen to edit/incorporate, to avoid merge conflicts (remember to update 'CompadreData' to 'CompadreDB' if appropriate).

[code]

[2018-11-19 09:18] patrickbarks opened #41 "Speed up validCompadreM() checks"
... and therefore also `asCompadreData()` and `convertLegacyDB()`.

The conversion for COMPADRE_v.X.X.X takes 11-12 seconds on my computer, ~70% of which is due to the `validCompadreM()` checks. The use of `data.frame` for the `dims` object is causing most of the overhead. If `dims` is instead constructed as a matrix, the conversion time on my computer is reduced from ~11.5 to ~4.5 seconds. E.g.

[2018-11-19 16:41] patrickbarks opened #42 "Cut species/study/matrix counts from db@version"
They...
- have no impact on reproducibility
- can be calculated from `db@data` using existing Rcompadre fns
- can become outdated with the use of `[`, `subset()`, `merge()`, etc. on `db@data`
- complicate `CompadreDB` methods such as `[`, and methods we might add in the future for `subset()`, `merge()`, etc.
  - e.g. if a user's column selection with `[` or `subset` doesn't include `YearPublicatio

[2018-11-21 14:11] iainmstott commented on #42
I agree, it doesn't give anything really valuable in terms of versioning.

I will say I changed `NumberAcceptedSpecies`, `NumberStudies` and `NumberMatrices` methods so that they calculate the numbers directly from the object, rather than accessing them from the `Version` slot because I saw those problem with subsetting and merging databases. All the functions and methods _should_ give the right i

[2018-11-22 10:09] iainmstott commented on #28
Sounds like a good plan to me! @jonesor maybe you can make that change (I assume nothing in RCompadre depends on those functions)

[2018-11-22 15:41] jonesor commented on #42
I'm on board with this too.
I will update the code we use to compile the databases to take care of this from the next version of both compadre and comadre.

[2018-11-22 17:34] jonesor commented on #41
Done. So closing this one.

[2018-11-22 17:34] #41 closed

[2018-11-23 08:04] patrickbarks commented on #42
Sounds good to me. Could also keep the Agreement. I have no preference either way.

[2018-11-23 19:18] jonesor commented on #38
Closing this - I think all the changes were taken care of! Thanks!

[2018-11-23 19:18] #38 closed

[2018-11-23 19:33] jonesor commented on #28
I have dropped these four from the Rcompadre (Dev) package. They should be placed in Rage (Dev) package ASAP

[2018-11-23 19:36] jonesor commented on #5
The function mergeDBs does this. It works with pairs of databases only.
Still needs to be thoroughly checked.

[2018-11-23 19:36] #5 closed

[2018-11-25 20:58] patrickbarks commented on #28
The 4 fns are already in Rage devel (from pull request jonesor/Rage#34), so closing issue.

[2018-11-25 20:58] #28 closed

[2018-11-25 21:01] patrickbarks commented on #26
Adding derived columns is now straightforward thanks to @iainmstott's updates in #32 and #43, so closing this issue.

[2018-11-25 21:01] #26 closed

[2018-11-25 21:20] patrickbarks commented on #37
I really liked `data` and `version` for the slot names. They're short and simple and don't require any thought about case style (compadreData or CompadreData?), which is nice when I want to access the slots directly. And other packages use a slot called `data` for metadata-type data frames, so there's some standardization.

Anyone opposed to me reverting the slot names to `data` and `version`, whi

[2018-11-27 13:16] patrickbarks commented on #31
closed by #44

[2018-11-27 13:16] #31 closed

[2018-11-27 13:17] patrickbarks commented on #30
closed by #44

[2018-11-27 13:17] #30 closed

[2018-11-27 13:19] patrickbarks commented on #42
closed by #44
Reminder to @jonesor to update the next db releases accordingly

[2018-11-27 13:19] #42 closed

[2018-11-27 13:21] patrickbarks commented on #39
closed by #43 and subsequent updates

[2018-11-27 13:21] #39 closed

[2018-11-27 13:21] patrickbarks commented on #40
closed by #43 and subsequent updates

[2018-11-27 13:21] #40 closed

[2018-11-27 13:38] patrickbarks commented on #27
I'm on board with the current implementation. I think I was the only hold-out, so closing this issue. Props to @levisc8 and @iainmstott for the vision, and implementation!

[2018-11-27 13:38] #27 closed

[2018-11-27 15:55] patrickbarks opened #45 "Function re-naming proposals"
__(1)__ Change verb in `cleanDB`?
'Clean' to me implies that something will be changed or removed, but `cleanDB` just adds columns flagging potential issues with the MPMs. I suggest changing to something like `flagDB` (or perhaps something more verbose, like `flagMatrixIssues`).

__(2)__ Change verb in `mergeDBs`?
`mergeDBs` is essentially `rbind.data.frame`. We have a separate CompadreDB method f

[2018-11-27 16:12] jonesor commented on #4
I also now think this should be left to subset. Closing.

[2018-11-27 16:12] #4 closed

[2018-11-28 18:31] jonesor opened #46 "Create branch to preserve current (non-dev) version?"
We are getting close to the point where we will want to merge the changes we have made on the dev branch to those on the master branch. It has occurred to me that people might still be using or want to use the current version (e.g. they are currently working on analyses).

We could, I think, create a new branch from the master before we merge the dev branch, and call it "v.0.1", or whatever, so th

[2018-11-28 18:36] jonesor commented on #45
I like these suggestions. The name for `cleanDB` has been bugging me!

I think that your rOpenSci recommendations are great. I was thinking we could submit an application note about the package to Methods in Ecology and Evolution and they have a collaboration with rOpenSci to [review R packages for publication](https://ropensci.org/blog/2017/11/29/review-collaboration-mee/), so it makes sense to f

[2018-11-28 19:02] levisc8 commented on #46
I'd suggest creating a release instead. It generates a tarball of the current source that is downloadable through `install_github()` by appending the tag name to the repo (see below). You can tag it with whatever name you want, and then run

`devtools::install_github('jonesor/Rcompadre@tag_name')`

Having a separate branch for each release might get a bit messy when we reach higher version numbers

[2018-11-29 21:19] jonesor commented on #46
I have done that now -
[code]

We should probably add a note about this to the readme when we merge dev with master.

[2018-12-05 17:08] patrickbarks opened #49 "Help users avoid pseudoreplication"
This is something I still struggle with. For most (but not all) analyses I would like a single 'grand mean matrix' for each `MatrixPopulation` or `SpeciesAuthor`.

This gets challenging because for a given `MatrixPopulation`, there are cases for every possible combination of `MatrixComposite` (multiple Individual + Mean, multiple Individual no Mean, multiple Mean, multiple Mean and Pooled, etc.).

[2018-12-07 08:19] patrickbarks commented on #45
closed by #48

[2018-12-07 08:19] #45 closed

[2018-12-07 08:20] patrickbarks commented on #25
closed by #32 and #48

[2018-12-07 08:20] #25 closed

[2018-12-07 08:31] patrickbarks commented on #9
Closed by #48

The current style is:

**Title**
- start with verb in 'plural' form, e.g. "Flag potential issues..."
- refer to db as "COM(P)ADRE database"

**Description**
- start with verb in 'singular' form, e.g. "Adds columns to the data slot" (the beginning "This function..." is implied)
- refer to db as "CompadreDB object"

[2018-12-07 08:31] #9 closed

[2018-12-07 08:33] patrickbarks commented on #37
closed by #43

[2018-12-07 08:33] #37 closed

[2018-12-07 08:37] patrickbarks commented on #6
`cdb_mean_matF` and `mpm_mean` can be used to produce mean fecundity matrices. My issues from the previous comment are resolved by #48, so closing this.

[2018-12-07 08:37] #6 closed

[2018-12-12 16:01] patrickbarks opened #50 "Online documentation"
I think lots of R users only read vignettes online, rather than within R.

Until we're on CRAN (which publishes HTML vignettes), and since GitHub no longer renders Rmarkdown, I think it would be good to 'manually' publish formatted versions of our vignettes (perhaps including the workshop materials, @jonesor).

One option is to just render the vignettes as regular markdown and host them on the Rco

[2018-12-12 16:05] patrickbarks opened #51 "Add brief overview of tibbles to documentation"
Probably in 'Getting Started' vignette and maybe README. Could include link to [tibble vignette](https://cran.r-project.org/web/packages/tibble/vignettes/tibble.html), perhaps brief summary of differences from `data.frame`, and tips for changing default setting, e.g.

[code]

[2018-12-12 16:12] patrickbarks commented on #50
Relatedly, in the longer-term, I think it would be cool to host something like 'case studies', or a gallery of example analyses with Rcompadre. Short, reproducible, markdown documents that illustrate interesting analyses. Could be solicited widely from contributors and users.

[2018-12-12 18:49] levisc8 commented on #50
Maybe we could set up a site w/ [pkgdown](https://pkgdown.r-lib.org/articles/pkgdown.html)? I think we could even set it up as sub-site (not sure what the term is) of www.compadre-db.org/.com.

It looks like it will automatically build the vignettes and provide pages for each function/.Rd file every time we update them.

[2018-12-12 21:14] patrickbarks commented on #50
Wow, ya. It's really easy, and looks great.

Could also configure this through GitHub Pages -- just requires a couple clicks by Owen, and the url would be http://jonesor.github.io/Rcompadre

[2018-12-13 10:26] patrickbarks opened #53 "Vignette on vectorizing with Rcompadre"
I think it would be useful to have a vignette devoted solely to vectorizing with Rcompadre. Could have some 'basic vectorizing' material, some material on using accessor functions within vectorized code, and also some 'avoiding pitfalls' type material.

For instance, the fact that accessors can be used both with CompadreDB and CompadreMat makes it easy to write vectorized code that's very ineffici

[2018-12-13 19:43] jonesor commented on #53
Good idea - and I can see that you have just added it! 👍

[2018-12-13 20:53] jonesor commented on #50
That's fantastic!
I *think* I have set this up correctly now. Its currently a 404 page at [http://jonesor.github.io/Rcompadre](http://jonesor.github.io/Rcompadre), but I think it will deploy via the Travis-CI system shortly.

[2018-12-14 08:01] patrickbarks commented on #46
@jonesor: perhaps you were planning this anyway, but it occurs to me that Rage and Rcompadre should be merged into master at the same time because of their interdependencies:

- Rage@master depends on Rcompadre@master, and will break with Rcompadre@devel (because of those 4 functions that we moved)

- Rage@devel doesn't depend on Rcompadre

- The new ternary plot vignette in Rcompadre@devel depend

[2018-12-14 15:42] patrickbarks commented on #50
For the GitHub Pages configuration, I think the source needs to be "master branch docs/ folder" (can change under 'Settings'). That should be all that's needed now, as far as I can tell.

(I think the Travis CI deploy_site bit is just to make it automatically regenerate when we push a new release.) But we can always regenerate manually too, if we make substantial changes.

[2018-12-14 16:40] patrickbarks commented on #50
Actually I see now that Travis has built the site in the gh-pages branch, and http://jonesor.github.io/Rcompadre works. But 3/4 of the Travis builds failed because of the deploy_site bit (the latest Appveyor builds passed). Not sure why exactly that part is failing. I'll try a minor push to trigger another build.

If it still doesn't work, suggest switching GitHub Pages to "master branch docs/ fol

[2018-12-15 07:55] patrickbarks commented on #53
closed by #52

[2018-12-15 07:55] #53 closed

[2018-12-15 08:49] jonesor commented on #50
Ah - that makes sense.
I have set that now.

[2018-12-15 09:20] jonesor commented on #46
I have done this now (both packages) so closing this issue

[2018-12-15 09:20] #46 closed

[2018-12-16 10:43] jonesor commented on #14
We have had subsets of COMPADRE/COMADRE in the package for a while (accessed with `data(Compadre)` and `data(Comadre`) so I'm closing this.

[2018-12-16 10:43] #14 closed

[2019-01-14 09:39] patrickbarks commented on #13
We're at ~99% test coverage, so I think this can be closed

[2019-01-14 09:39] #13 closed

[2019-01-14 09:41] patrickbarks commented on #49
Closed by #48

[2019-01-14 09:41] #49 closed

[2019-01-14 09:52] patrickbarks commented on #50
@jonesor suggest adding website/description/topics to header of the GitHub repo. I've read these can help with searchability. You can update by clicking "Edit" and "Manage topics" at the top of the repo.

My suggestions (e.g.):

Description:
An R package to work with the COM(P)ADRE Matrix Population Model Databases

Website:
http://jonesor.github.io/Rcompadre

Topics:
- r
- rstats
- r-package
- de

[2019-02-11 13:37] patrickbarks opened #56 "Cryptic warning msg if db doesn't have SpeciesAccepted column"
The CompadreDB `show` method prints a cryptic warning if `db` doesn't contain the column `SpeciesAccepted`. E.g.

[code]

This is ultimately coming from the function `NumberAcceptedSpecies()`.

Suggest adding a more helpful message to the `NumberAcceptedSpecies()` function, and modifying the `show` method to prevent _any_ warning message in this instance. Though I'm not sure exactly what we should

[2019-02-11 13:53] patrickbarks opened #57 "Add dplyr::summarize method?"
I didn't initially add a method for `summarize` alongside the other tidyverse functions because `summarize` won't ever return a valid CompadreDB object. But now I keep forgetting that I have to use `CompadreData()` or `as_tibble()` before calling `summarize()`.
[code]
In hindsight, I don't think the 'must return a CompadreDB object' requirement was necessary, and a `summarize` method that returns

[2019-06-19 15:09] iainmstott opened #58 "matrix accessor functions return lists for all CompadreDB objects"
I think `matA`, `matU`, `matF`, `matC` and any of the others in the ClassUnionMethods.R file _always_ return a list, even if the database passed is just one row. Intuitively one might want to use e.g.
`matA(compadre[123, ])` or `matA(compadre[123])` expecting a matrix, but getting a list of length 1 containing the matrix. We can get it with e.g. `matA(compadre$mat[[123]])`, but would be good for t

[2019-06-19 16:42] patrickbarks commented on #58
I prefer the current behavior. Having the type of return depend on the number of rows in `db` could be confusing — particularly when used with subsetting. E.g. If I want to subset a db and then calculate lambda for every row, I might use:

[code]
I would expect this to work regardless of the size of my subset, which I might not know ahead of time. But if the subset turns out to be just 1 row, in w

[2019-06-20 07:09] iainmstott commented on #58
Oh yeah, good point, and I've seen plenty of other functions that do the same.

I think I'll stick a quick note in the documentation; at first instance it seems unintuitive (my student stumbled on it, and I also didn't twig when he emailed to ask why things weren't working)

[2019-06-20 07:09] #58 closed

[2019-06-21 13:03] jonesor opened #59 "as_cdb bug?"
From Haydee:

[2019-06-21 13:22] patrickbarks commented on #59
I just downloaded COMPADRE 5.0.0, and there do not seem to be any rows with SpeciesAuthor "Clarkia_xantiana_subsp._xantiana" (or even Genus "Clarkia"), either in the original list format or new cdb format.

It is in the X.X.X version, however (both original and cdb), so perhaps it was mistakenly removed from the new COMPADRE release?

[2019-06-28 16:50] jchecastaldo commented on #59
Hi Patrick - i just checked again and it is as you say, no Clarkia anywhere in 5.0.0. I have no idea what was happening when we saw that (Jun 20). But looks like it's resolved now. Thanks for looking into it.

[2019-07-04 13:00] GesaRoemer opened #60 "new function to extract metadata"
I think it would be useful to have a function that only extracts the metadata (without the `mat`-column). The `as_tibble()` method converts the database to a tibble that includes `mat`. But it would be convenient to have a separate function that also drops `mat`.

[2019-07-05 12:53] patrickbarks commented on #11
Closing this here, as `plotLifeCycle` has been moved to Rage

[2019-07-05 12:53] #11 closed

[2019-07-05 12:54] #50 closed

[2019-07-05 12:56] patrickbarks commented on #8
initial set of vignettes are complete, so closing now

[2019-07-05 12:56] #8 closed

[2019-07-05 13:00] #59 closed

[2019-12-10 11:12] #56 closed

[2019-12-10 11:12] #57 closed

[2021-02-18 10:26] jonesor opened #66 "Matrix accessor functions should add rownames with stage names to the matrices"
New functionality in Rage allows users to use names as well as stage number to define e.g. start of life.
This functionality requires that columns and rows have the same names.

Currently the functions `matA`, `matU` etc. provide lists of matrices from compadre objects with only the columns named. They should add the row names.

[2021-02-18 10:30] jonesor opened #67 "Add into vignette example to get 1 matrix per study/species at random"
e.g.
[code]

[2021-02-21 18:47] jonesor commented on #60
cdb_metadata does this so I'm closing this issue

[2021-02-21 18:47] #60 closed

[2021-02-21 21:44] jonesor opened #69 "Add github action to automatically build site"
Add action using `pkgdown::build_site()` when changes are pushed to `master` branch

[2021-02-21 22:15] jonesor opened #70 "Check and if necessary add contributor names to DESCRIPTION"
Use this format:

[code]

Note that role should probably be "aut" and the ORCID is optional.

[2021-02-22 11:24] jonesor opened #73 "Grouping functions by type (@family tag)"
In the Rage package we have grouped functions into types (e.g. "vital rates", "life tables", "transformation") based on what they do. We can then use the `@family` tag in the documentation which allows us to group the documentation by type.
See the Rage documentation at https://jonesor.github.io/Rage/reference/index.html.

I would like to find a good grouping scheme for Rcompadre functions.

[2021-02-23 19:07] jonesor opened #74 "Add check for survival probability >1 to cdb_check"
Add another survival check flag to cdb_check for survival probabilities in U matrix of >1 (or should this be >=1, or maybe even a user-defined limit?)

e.g.

[code]

[2021-02-23 20:01] jonesor commented on #73
Done.

[2021-02-23 20:01] #73 closed

[2021-02-23 20:03] jonesor commented on #66
This is now implemented in the development branch

[2021-02-23 20:03] #66 closed

[2021-02-23 20:10] jonesor commented on #7
Closing this, added issue to add this into a vignette. (#67)

[2021-02-23 20:10] #7 closed

[2021-02-23 23:38] jonesor commented on #69
Done.

There is now a Github action which (1) knits the README.md file from the README.Rmd (in case we forget) and then (2) builds the site with pkgdown.
It then commits the changes to the branch.
It runs on pushes to both devel and master

[2021-02-23 23:38] #69 closed

[2021-02-24 14:00] jonesor opened #78 "Function to create a valid CompadreDB/CompadreMat object from user-supplied matrices"
It would be useful for some users to be able to create their own compadre objects using their own data, so that they can take advantage of some of the functionality offered by `Rcompadre`.

e.g. supply a list of matrices, some data on stage names, metadata -> get a compadre object.
Ideally this should work with minimal metadata. The use case I'm thinking of is simulated matrices where metadata may

[2021-03-01 15:58] jonesor opened #81 "Add news.md file"
Add a news.md file to keep track of changes, new functionality, patches etc.

[2021-03-03 13:52] iainmstott opened #84 "Rename master branch"
In solidarity with the BLM movement, GitHub and Git users worldwide have started renaming their 'master' branches to something with lesser connotation of slavery. I propose we do the same for the Rcompadre package. Github now uses 'main', which I think is a good option.

[2021-03-03 15:04] jonesor opened #85 "Add function example to vignettes"
Ideally, we should have examples of the use of each function in one (or more) of the vignettes.

These are the functions that are NOT currently represented:

- [ ] `as_cdb`
- [ ] `cdb_check_species`
- [ ] `cdb_compare`
- [ ] `cdb_fetch`
- [ ] `cdb_flatten`
- [ ] `cdb_mean_matF`
- [ ] `cdb_metadata`
- [ ] `cdb_rbind`
- [ ] `cdb_unflatten`
- [ ] `mat_mean`
- [ ] `mat_to_string`
- [ ] `mpm_has_dorm`

[2021-03-03 15:05] jonesor commented on #84
This has been on my mind. I also think it's a good idea and will implement it soon!

[2021-03-03 15:06] jonesor commented on #81
Done.

[2021-03-03 15:06] #81 closed

[2021-03-04 11:16] jonesor commented on #84
I have now done this with #86.
I *think* I have changed every reference to `master`, for example with the continuous integration tools - we'll soon find out!

[2021-03-04 11:16] #84 closed

[2021-03-04 11:58] jonesor opened #88 "Add functionality to obtain particular historic database versions via version number."
Enable the use of `cdb_fetch` to obtain particular versions of the database.
This would make it easier for users to replicate analyses if they know the version number of the database use. It would also allow users to compare different versions of the database (e.g. "why is my analysis different from the same one I did 5 years ago?".

I envisage something like this:

`x <- cdb_fetch("compadre", ver

[2021-03-04 16:33] jonesor opened #89 "Update download message text"
Update the message text:
[code]

[2021-03-04 20:53] jonesor commented on #89
Closed with #90

[2021-03-04 20:54] #89 closed

[2021-03-04 20:54] jonesor commented on #51
Closed with #90

[2021-03-04 20:54] #51 closed

[2021-03-11 08:54] jonesor opened #92 "Add a function to output a Matlab compatible data file"
I'm not a Matlab user, so I don't know what exactly the requirements are, but I think this could be useful for many.

I envisage a function that will accept a `compadreDB` object as input (either the object downloaded by `cdb_fetch` or a user-generated subset of COM(P)ADRE data) and return a text file that can be read directly into Matlab.

Any Matlab users care to comment?

[2021-03-11 15:55] wpetry opened #93 "Function to load local com(p)adre .Rdata files"
What would folks think about an accessor function to load local downloads of the databases? I'm imagining something like `read_cdb` that would be a simple wrapper of `load` and `as_cdb` with some error checking. I appreciate the motivation to keep the .Rdata files hosted online as lists rather than `CompadreDB` classed objects, but I suspect no one will ever use them in that form. Can we make the

[2021-03-11 15:58] wpetry commented on #93
Maybe it could also try to check whether the version being loaded is current or not, passing a warning if a newer version is available. If the database can't be checked (e.g., not connected to the internet), a warning should say so. Users could turn this off with a `warn_outdated = FALSE` argument.

[2021-03-11 20:58] jonesor opened #94 "Change name of matrixClass to MatrixClass for consistency"
Perhaps not a big deal but I think we should be consistent with cases across functions.

[2021-03-11 20:59] jonesor commented on #94
This function is in `ClassUnionMethods`

[2021-03-12 13:59] jonesor commented on #93
Funnily enough, I was thinking the same thing. The basic function would be pretty straightforward, so go for it!
For the extra bit (checking whether the version is current or not), are you going to do that by downloading the latest version and comparing it? If so, how will you do the comparison.
We do have a basic `cdb_compare` function (which could definitely be improved.

[2021-03-12 18:54] jonesor commented on #94
OK - I can see that the names of the objects within the com(p)adre download are `metadata`, `**matrixClass**`, `mat` and `version`.
Although the **function** to obtain matrix class information should be called `MatrixClass` for consistency with the other functions of this sort, the OBJECT is called `matrixClass` (small m). I, therefore, think that for the avoidance of confusion we could keep the f

[2021-03-15 00:47] tdjames1 commented on #94
Yes, the convention that we used for those accessors originally was to follow the naming of the elements of the `compadre` object: `metadata`, `matrixClass` etc. But the columns of the `matrixClass` table are called `MatrixClassOrganized` etc which leads to the inconsistency for accessors for those elements. I think I would agree with leaving `matrixClass` as it is.

[2021-03-15 11:34] jonesor commented on #94
Great - thanks @tdjames1! I'll close this issue, and leave the name of the function as it is.

[2021-03-15 11:34] #94 closed

[2021-03-18 09:52] jonesor commented on #67
I've added an example to the `RcompadreTidy` vignette.

[2021-03-18 09:52] #67 closed

[2021-03-18 09:55] jonesor commented on #70
I think this is now done.

[2021-03-18 09:55] #70 closed

[2021-03-18 11:20] jonesor commented on #74
This has been resolved.

[2021-03-18 11:20] #74 closed

[2021-03-26 09:50] jonesor opened #98 "Check that Rcompadre works well with the old database versions"
Old versions of the database have a couple of different column names, and may have silightly different structure.
We should double-check that `Rcompadre` works for them

The old versions are stored here:
[](https://github.com/jonesor/compadreDB/tree/master/OldDBVersions)

[2021-03-26 09:59] jonesor commented on #93
Hi @wpetry. I have now realised that the `cdb_fetch` function actually does this.

`x<-cdb_fetch("COMPADRE_v.5.0.0.RData")`

It DOESN'T check for a newer version, so that is an enhancement that could be added, but I think there are some complications with that. For example, one would need to tell the function WHICH database you are referring to (or you could infer this based on taxonomy informatio

[2021-03-26 09:59] #93 closed

[2021-04-07 21:04] jonesor opened #99 "Add method for droplevels"
Currently we get an error message when we try to `droplevels` on a subset of the DB.

[code]

It would be useful to have a method to use it rather than using a more tedious work-around.

[2021-04-13 13:01] jonesor commented on #98
I have checked this, and all OK.

[2021-04-13 13:01] #98 closed

[2021-05-13 20:43] jonesor opened #114 "Add function to create CompadreDB object from matrices and metadata."

[2021-06-19 18:05] jonesor commented on #114
`cdb_build_cdb` is now available in the devel branch. Needs thorough testing

[2021-06-19 18:05] jonesor opened #119 "Write vignette to illustrate `cdb_build_cdb` functionality"
Need to cover several use cases.

[2021-06-19 20:26] jonesor opened #120 "cdb_rbind - allow binding of COMPADRE objects with different metadata."
I think it would be a good idea to allow joining of `CompadreDB` objects with different metadata.
This would allow users to merge their own data with that of COMPADRE/COMADRE without needing to add columns of `NA` for non-important metadata.

The output object could by default keep all metadata columns across `CompadreDB` objects and insert `NA` for missing values

[2021-06-19 20:41] jonesor opened #121 "mat_to_string fails when whole matrix is NA"
This causes problems when using `cdb_flatten` with e.g. NA values in the C matrix (or any other of the submatrices).

[2021-06-20 19:48] jonesor opened #122 "filter error when compiling vignette. Error in storage.mode(x) <- "double" :"
When compiling `a03_VectorisingRcompadre.Rmd` I get an error when using `filter` (but not if I replace with `subset`)

Why doesn't filter work for this?

The relevant chunk of code:

[code]

[2021-06-20 20:19] jonesor commented on #121
Does it NEED to be a NUMERIC matrix. If we relax that requirement it should work right?

[2021-06-20 20:20] jonesor commented on #119
I am closing this because it is resolved in the devel branch

[2021-06-20 20:20] #119 closed

[2021-06-20 20:21] jonesor opened #123 "Improve vignette to illustrate cdb_build_cdb functionality"
The current vignette is pretty basic.
I would like to improve it to show off different use cases.

[2021-06-20 20:24] jonesor commented on #78
This is now done (currently in devel branch)
See [https://github.com/jonesor/Rcompadre/blob/devel/R/cdb_build_cdb.R](https://github.com/jonesor/Rcompadre/blob/devel/R/cdb_build_cdb.R)

[2021-06-20 20:24] #78 closed

[2021-06-20 20:25] jonesor commented on #114
Done [https://github.com/jonesor/Rcompadre/blob/devel/R/cdb_build_cdb.R](https://github.com/jonesor/Rcompadre/blob/devel/R/cdb_build_cdb.R)

[2021-06-20 20:25] #114 closed

[2021-07-12 11:09] jonesor opened #125 "Add argument to cdb_fetch to automatically add error flag columns"
add an optional argument to cdb_fetch to automatically add the error flag columns to the data upon download.

e.g., if flag_errors = TRUE, then run cdb_flag and add the columns to the database.

[2021-07-12 12:10] jonesor opened #126 "Add vignette with NO piping"
Add a version of the analysis from `Using Rcompadre with the tidyverse` showing use of Rcompadre with no piping.

[2021-07-12 13:00] #125 closed

[2021-07-12 13:04] jonesor opened #127 "Add unit tests to cdb_build_cdb"
There are currently no unit tests for this function (just some placeholder code)

[2021-10-01 17:59] wpetry opened #129 "Standardize case convention on database column names"
The metadata associated with each MPM primarily uses CamelCase for variable names, except for `DOI_ISBN` which uses snake_case. This column should follow the same convention as the others. Because these identifiers are abbreviations, I appreciate that `DoiIsbn` would be more problematic. Instead, I propose renaming to `SourceIdentifier`. Ideally this could happen at the COM(P)ADRE database level,

[2021-10-15 18:23] #126 closed, assigned to nobody